<h4 class="section-header">Password</h4>
<hr>
<form [formGroup]="userPasswordForm" (ngSubmit)="handleSubmit()">
  <alert type="warning" *ngIf="serverFormErrors.length" dismissible="true">
    Please correct these errors
    <ul class="list-unstyled">
      <li *ngFor="let error of serverFormErrors">
        <strong> {{error.param}}: </strong> {{error.msg}}
      </li>
    </ul>
  </alert>
  <div class="form-group">
    <div class="row">
      <label for="currentPassword" class="control-label col-xs-3 text-right">Current Password</label>
      <div class="col-xs-9">
        <input formControlName="currentPassword" id ="currentPassword" type="password" class="form-control" placeholder="********">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <label for="password" class="control-label col-xs-3 text-right">New Password</label>
      <div class="col-xs-9">
        <input formControlName="password" id ="password" type="password" class="form-control" placeholder="********">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <label for="passwordConfirmation" class="control-label col-xs-3 text-right">New Password Confirmation</label>
      <div class="col-xs-9">
        <input formControlName="passwordConfirmation" id ="passwordConfirmation" type="password" class="form-control" placeholder="********">
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-warning" [disabled]="userPasswordForm.invalid">
      Save
    </button>
  </div>
</form>
