
.btn, .panel, .form-control{
    border-radius: 2px
}
.container-narrow{
    max-width: 760px;
    margin: 0 auto;
}
.container-narrower{
    max-width: 520px;
    margin: 0 auto;
}
.ql-editor{
    min-height: 300px;
}

.mr-5{
    margin-right: 5px
}
.mr-10{
    margin-right: 10px
}
.mr-20{
    margin-right: 20px
}
.mr-50{
    margin-right: 50px
}

.ml-5{
    margin-left: 5px
}
.ml-10{
    margin-left: 10px
}
.ml-20{
    margin-left: 20px
}
.ml-50{
    margin-left: 50px
}

.mt-0{
    margin-top: 0px
}
.mt-5{
    margin-top: 5px
}
.mt-10{
    margin-top: 10px
}
.mt-20{
    margin-top: 20px
}
.mt-50{
    margin-top: 50px
}

.mb-0{
    margin-bottom: 0px
}
.mb-5{
    margin-bottom: 5px
}
.mb-10{
    margin-bottom: 10px
}
.mb-20{
    margin-bottom: 20px
}
.mb-50{
    margin-bottom: 50px
}

.card-xs{
    margin-top: 5px;
    padding: 10px 4px;
    border: 1px solid #DDD;
    position: relative;
    background: rgba(38, 153, 94, 0.05);
}
.card-xs img{
    width: 60px;
    margin-right: 5px;
}

.card-xs i{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

