<div class="list-group user-informations">
  <div class="list-group-item">
    <h5 class="list-group-item-heading">
      <i class="glyphicon glyphicon-list-alt mr-5"></i>
      Full name
    </h5>
    <p class="list-group-item-text">{{user.fullName}}</p>
  </div>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">
      <i class="glyphicon glyphicon-list-alt mr-5"></i>
      Email
    </h5>
    <p class="list-group-item-text">{{user.email}}</p>
  </div>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">
      <i class="glyphicon glyphicon-list-alt mr-5"></i>
      Phone number
    </h5>
    <p class="list-group-item-text">{{user.phoneNumber || "N/A"}}</p>
  </div>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">
      <i class="glyphicon glyphicon-list-alt mr-5"></i>
      Facebook
    </h5>
    <p class="list-group-item-text">
      <a [href]="user.facebookUrl" target="_blank" *ngIf="user.facebookUrl">
        <i class="glyphicon glyphicon-link mr-5"></i>
        Facebook profile
      </a>
      <span class="text-muted" *ngIf="!user.facebookUrl">N/A</span>
    </p>
  </div>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">
      <i class="glyphicon glyphicon-list-alt mr-5"></i>
      Twitter
    </h5>
    <p class="list-group-item-text">
      <a [href]="user.twitterUrl" target="_blank" *ngIf="user.twitterUrl">
        <i class="glyphicon glyphicon-link mr-5"></i>
        Twitter profile
      </a>
      <span class="text-muted" *ngIf="!user.twitterUrl">N/A</span>
    </p>
  </div>
  <div class="list-group-item">
    <h5 class="list-group-item-heading">
      <i class="glyphicon glyphicon-list-alt mr-5"></i>
      Linkedin
    </h5>
    <p class="list-group-item-text">
      <a [href]="user.linkedinUrl" target="_blank" *ngIf="user.linkedinUrl">
        <i class="glyphicon glyphicon-link mr-5"></i>
        LinkedIn profile
      </a>
      <span class="text-muted" *ngIf="!user.linkedinUrl">N/A</span>
    </p>
  </div>
</div>
